body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    font-family: Arial;
}

h1 {
    color: #38bdf8;
}

button {
    background: linear-gradient(90deg, #38bdf8, #a78bfa);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
}